.pagination {
	display: flex;
	justify-content: space-between;
	margin-left: 30px;
	width: 100%;
	margin-right: 2px;

	.pagination-items {
		span {		
			font-family: 'Inter';
			font-size: 16px;
			line-height: 20px;
			color: rgba(0, 0, 0, 0.5);
			margin-right: 8px;
			cursor: pointer;
		}
		span.active {
			color: #367AF5;
		}
	}
	.pagination-next {
		font-family: 'Inter';
		font-size: 16px;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
}

@media (max-width: 540px) {
	.pagination {
		display: none;
	}
}