.page_404,
.politic {
  padding: 80px 0 120px;
}

.page_404  {
  h2 {
    width: 100%;
    font-weight: normal;
    font-size: 48px;
    line-height: 140.62%;
    color: #000000;
    margin-bottom: 30px;
  }
  p {
    max-width: 805px;
    width: 100%;
    font-size: 24px;
    line-height: 140.62%;
    color: #000000;
  }
  a {
    font-family: "Inter-Medium";
    background-color: #367af5;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    padding: 18px 46px;
    margin-top: 30px;
    display: block;
    max-width: 362px;
    width: 100%;
  }
}


@media (max-width: 540px) {
  .page_404 {
    padding: 60px 0 50px 0;
    h2 {
      font-size: 28px;
      line-height: 39px;
      font-weight: 500;
      margin-bottom: 10px;
      text-align: center;
    }
    p {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
    a {
      padding: 14px 6px;
      text-align: center;

    }
  }
}
