.account-section {
	.pagination {
		margin-left: 0;
	}
	.account-tab-list {
		margin-bottom: 20px;
		.list-detail {
			display: flex;
			a {
    			margin-left: -1px;
				width: 166px;
				font-size: 16px;
				line-height: 19px;
				color: #000000;
				padding: 18px;
				text-align: center;
				border: 1px solid #000000;
				display: inline-block;
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.select-lots {
		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			padding: 6px 15px;
			width: 264px;
			border: 1px solid #000000;
			border-radius: 5px;
			background-image: url("../img/icons/selecst-arrows.svg");
			background-repeat: no-repeat;
			background-position: 95%;
			background-size: 10px;
		}
	}
	.account-inner.account-bets.outgoing-bets {
		table {
			.completed span {
				width: 196px;
			}
		}
		td {
			.time-delay {
				background: #C9C9C9;
				border-radius: 5px;
				padding: 7px;
				text-align: center;
				width: 196px;
			}
			.complited {
				width: 196px;
			}
			&:nth-child(2) {
				width: 213px;
			}
			&:nth-child(3) {
				width: 166px;
			}
			&:nth-child(4) {
				width: 260px;
			}	
		}
	}
	.account-inner.account-bets {
		border: none;
		padding: 30px 0;
		position: relative;
		z-index: 0;
		.lot-items {
			width: 100%;
			.item-wrapper {
				width: 100%;
				margin-bottom: 10px;
				border: 1px solid #000000;
				border-radius: 5px;
				padding: 10px 14px 10px 20px;
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				.lot-btns {
					display: flex;
					margin-top: 10px;
					.btn-order {
						max-width: 150px;
						font-size: 14px;
						line-height: 17px;
						color: #FFFFFF;
						text-align: center;
						height: 31px;
						margin-top: 0;
						margin-right: 5px;
					}
					.btn-refuse {
						color: #000000;
						background: #fff;
						border: 1px solid #000000;
						border-radius: 3px;
					}
				}

			}
			.lot-item {
				display: flex;
				align-items: center;
				width: 100%;
				i.remove-item {
					display: block;
					background: url("../img/icons/close-ico.svg");
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					max-width: 12px;
					width: 100%;
					height: 12px;
					margin-left: 28px;
				}
				.img-wrapper {
					height: 70px;
					width: 70px;
					margin-right: 10px;
					overflow: hidden;
					border-radius: 1px;
					img {
						max-width: 70px;
						height: inherit;
						object-fit: cover;
					}
				}
				.info-wrapper {
					align-items: center;
					display: flex;
					justify-content: space-between;
					width: 100%;
					flex-wrap: wrap;
					.item-info {
						.item-title {
							font-weight: 500;
							font-size: 14px;
							line-height: 17px;
							color: #000000;
							margin-bottom: 2px;

							span {
								font-weight: 500;
							}
						}
						p {
							font-weight: 300;
							font-size: 14px;
							line-height: 17px;
							color: #000000;
							margin-bottom: 2px;
							span {
								font-weight: 500;
							}
						}
					}
					.item-info-right {
						text-align: right;
					}
				}
			}
		}
		.table-wrapper {
			background: #E8E8E8;
    		min-height: 342px;
    		border: 1px solid #7B7B7B;
		}
		table {
			background: #fff;
			width: 100%;
			th {
				font-family: 'Inter';
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: #000000;
				border: 1px solid #7B7B7B;
				padding: 12px;
				text-align: center;
				width: 209px;
				border-top: none;

				&:first-child {
					border-left: none;
				}
				&:last-child {
					border-right: none;
				}
			}
			td {
				padding: 7px;
				vertical-align: middle;
				font-size: 16px;
				line-height: 19px;
				color: #000000;
				border: 1px solid #7B7B7B;
				text-align: center;
				width: 209px;
				&:first-child {
					border-left: none;
				}
				&:last-child {
					border-right: none;
				}
			}
			.number {
				padding: 12px;
				width: 55px;
				height: 43px;
			}
			.completed {
				padding: 7px;
				span {
					background: #5BB959;
					border-radius: 5px;
					padding: 6px;
					color: #fff;
				}
			}
		}
	}
}

.mobile-bets {
	display: none;
}
.account-section .account-inner.account-bets .lot-items .item-wrapper .btns-mobile {
	display: none;
}
@media (max-width: 540px) {
	.account-section .account-inner.account-bets .lot-items .lot-item .info-wrapper .item-info-right {
		text-align: left;
	}

	.account-section {
		.account-inner.account-bets {
			margin-left: 0;
			border-radius: 0 0 5px 5px;
			padding: 10px 0 10px;
			.table-wrapper {
				display: none;
			}
			.mobile-bets {
				display: block;
				background: #fff;	
				border: 1px solid #7B7B7B;
				.item-wrapper {
					padding: 10px 5px 6px;
					display: flex;
    				align-items: center;
					margin-bottom: 0;
					border-bottom: 1px solid #7B7B7B;
					.right-content p {
						text-align: right;
					}
					&:last-child {
						border-bottom: none;
					}
					.item-title {
						font-weight: 500;
						font-size: 16px;
						line-height: 19px;
						color: #000000;
					}
					p {
						margin-top: 5px;
						font-size: 16px;
						line-height: 19px;
						color: #000000;
					}
					.time-delay {
						background: #DDDDDD;
						font-size: 14px;
						line-height: 17px;
						color: #000000;
						border-radius: 5px;
						padding: 5px;
					}
					.time-delay.delay-end {
						color: #fff;
						background: #5BB959;
						font-size: 16px;
						line-height: 19px;
					}
				}
			}
		}
		.account-tab-list {
            .list-detail {
                a {
                    width: 100%;
                    margin-left: 0;
                }
                a.active {
                    background: #E8E8E8;
                    border-bottom: none;
                }
            }
        }
		.account-inner.favorite-lots {
			margin-left: 0;
			background: #E8E8E8;
			border-radius: 0 0px 5px 5px;
		}
	}
	.account-section .account-inner.account-bets .lot-items .lot-item {
		align-items: flex-start;

		i.remove-item {
			margin-left: 19px;
		}
	}
	.account-section .select-lots {
		width: 100%;
		select {
			width: 100%;
		}
	}
	.account-section .account-inner.account-bets .lot-items .item-wrapper {
		padding: 15px 10px;
	}
	.account-section .account-inner.account-bets .lot-items .lot-item .img-wrapper {
		max-width: 78px;
		height: 78px;
		width: 100%;
	}
	.account-section .account-inner.account-bets .lot-items .item-wrapper .btns-pc {
		display: none;
	}
	.account-section .account-inner.account-bets .lot-items .item-wrapper .btns-mobile {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;

		.btn-order {
			max-width: 48%;
			margin-right: 0;
			height: 50px;
		}
		.btn-refuse {
			max-width: 100%;
			width: 100%;
			margin-top: 5px;
			height: 50px;
		}
	}
}