.add-advertisement {
	padding: 80px 0 120px 0;
	form {
		width: 100%;
		max-width: 774px;
		margin: auto;
	}
	h1 {
		text-align: center;
		margin-bottom: 20px;
	}
	.items-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.item-wrapper {
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		.title {
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			font-weight: 400;
			margin-bottom: 5px;
		}
	}
	.upload-files {
		input[type='file'] {
			height: 168px;
			margin-bottom: 10px;
			border: 2px dashed #000;
		}
		input[type='submit'] {
			margin: 0 0 0 auto;
			max-width: 264px;
			height: 45px;
			padding: 5px;
		}
		.title {
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			color: #000000;
			margin-bottom: 0;
		}
		.desc {
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			margin-bottom: 5px;
		}
	}
	.custom-item {
		max-width: 362px;
	}
	input, select {
		height: 34px;
	}
	input, select, textarea {
		padding: 6px 15px;
		border: 1px solid #000000;
		border-radius: 5px;
		font-size: 18px;
		line-height: 22px;
		color: #808080;
		width: 100%;
		&::placeholder {
			font-size: 18px;
			line-height: 22px;
			color: #808080;
		}
	}
	select {
		-webkit-appearance: none;
 		-moz-appearance: none;
 		appearance: none;
 		background-image: url(../img/icons/selecst-arrows.svg);
 		background-repeat: no-repeat;
 		background-size: 10px;
    	background-position: 95% 5px;
	}
	
	textarea {
		resize: none;
		padding: 15px;
	}
	.placehold-hidden::placeholder {
  		color: #fff;
	}
}


@media (max-width: 540px) {
	.add-advertisement {
		padding: 20px 0 50px;
		.container {
			padding: 0;
		}
		.placehold-hidden::placeholder {
        	color: #808080;
      	}
      	.items-wrapper {
      		flex-wrap: wrap;
      	}
		.item-wrapper {
			padding: 0 16px;
			.title {
				display: none;
			}
			select, input {
				height: 51px;
			}
			select {
    			background-position: 97% 15px;
			}
		}
		.custom-item {
			max-width: 100%;
		}
	}
}