.about_delivery .container {
  color: #000;
  font-family: "Roboto-Medium";
}
.about_delivery  {
  margin-top: 80px;
  h1 {
    margin-bottom: 30px;
    text-align: center;
  }
}

h3 {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 15px;
  font-weight: 500;
}

.delivery_wrapper-text {
  max-width: 933px;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 60px;
}

.delivery_info {
  background-color: #f4f5fa;
}

.delivery_info-wrapper {
  display: flex;
}

.delivery_info-img {
  margin-right: 30px;
  padding: 17px 0;
}

.delivery_info-inner-title {
  line-height: 35px;
  font-size: 30px;
  margin: 53px 0 10px;
  font-weight: 500;
  font-family: "Roboto-Medium";
}

.deliver_info-material ul li {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid #000000;
  font-family: "Roboto-Medium";
}

.tech_support-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 77px 0 120px;
  width: 100%;
}

.tech_support-info {
  color: #000;
}
.tech_support-nummber {
  margin-bottom: 15px;
}
.help_form.tech_support_form {
  input {
    border: 1px solid rgba(0, 0, 0, 0.7);
  }
  input[type='submit'] {
    border: none;
  }
}
.tech_support-title {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 15px;
}

.tech_form-title {
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter-SemiBold";
}
.tech-form-subtitle {
  margin-bottom: 15px;
  a {
    font-size: 28px;
    line-height: 34px;
    color: #000;
    margin-bottom: 15px;
    font-family: "Inter-Regular";
  }
}

.tech_support_form {
  text-align: center;
}


@media (max-width: 540px) {

  .about_delivery {
    margin-bottom: 50px;
     h1 {
      text-align: left;
     }
     h3 {
      font-size: 20px;
      line-height: 24px;
     }
     p {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 0;
     }
  }
  .delivery_info-wrapper {
    flex-wrap: wrap;
    padding: 30px 0;
  }
  .delivery_info-img {
    margin-right: 0;
    display: flex;
    order: 1;
    padding: 17px 0 0 0;
  }
  .delivery_info {
    h3 {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .deliver_info-material {
    ul {
      li {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  .tech_support-wrapper {
    flex-wrap: wrap;
    .tech_support-title {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .tech_form-title {
    font-size: 16px;
    line-height: 19px;
  }
  .tech-form-subtitle {
    margin-bottom: 15px;
    a {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .tech-form-mail a {
    font-size: 16px;
    line-height: 19px;
  }
  .tech_support_form {
    input {
      border: 1px solid #000000;
      padding: 0 10px;
    }
  }
}