.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 605px;
  align-items: center;
  display: flex;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #022869CC;
  }
  .banner-img {
    height: 451px;
    width: 100%;
    margin-left: 12px;
    img {
      height: inherit;
      object-fit: cover;
      width: 100%;
    }
  }
}

.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_left h1 {
  max-width: 578px;
  width: 100%;
  font-family: "Inter-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
}

.banner_left-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .banner-info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .btn-blue {
    height: 52px;
    max-width: 294px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #367AF5;
    border-radius: 5px;
  }
}

.banner_left-wrapper span {
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
}

.banner_left-wrapper p {
  max-width: 190px;
  width: 100%;
  margin-left: 45px;
  font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.banner_center-wrapper {
  margin-bottom: 245px;
}

.banner_center-wrapper a {
  line-height: 19px;
  color: #367af5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
}

.banner_center-wrapper a.sell {
  margin-left: 43px;
}

.catalog-btn {
  font-family: "Inter-Medium";
  background-color: #367af5;
  border-radius: 3px;
  padding: 16px 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.banner_right {
  position: relative;
}

.banner_right span {
  font-family: "Merriweather-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 20px;
  color: #ffffff;
  position: absolute;
  bottom: -150px;
  left: 15px;
}

/* Отрасли промышленности  */

.industries {
  margin: 120px 0;
  .mobile-hidden {
    max-width: 100%;
    position: relative;
  }
  .swiper-button-next, .swiper-button-prev {
    top: 26px;
    width: 23px;
    height: 40px;
    background: url(/img/icons/slider-arrow.svg) center no-repeat;
    background-size: contain;

    &:after {
      display: none;
    }
  }
  .swiper-button-prev {
    right: 80px;
    left: auto;
    transform: rotate(180deg);
  }
  .swiper-button-next.swiper-button-disabled {
    transform: rotate(180deg);
  }
  .swiper-button-prev.swiper-button-disabled {
    transform: initial;
  }
  .swiper-button-disabled {
    background: url(/img/icons/slider-arrow-dis.svg);
  }

  .swiper {
    height: 570px;
    .swiper-wrapper {
      height: 460px;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

.industries .title {
  margin-bottom: 58px;
}

.industries_items {
  display: flex;
  margin-bottom: 72px;
  width: 100%;
  justify-content: space-between;
}

.industries_items.bottom {
  justify-content: space-around;
  width: 100%;
}

.industries_item {
  width: 100%;
  padding: 30px;
  background: #f4f5fa;
  border-radius: 5px;
  transition: all 0.2s;
  margin: 0;

  img {
    max-width: 67px;
    width: 100%;
    height: 67px;
  }
}

.industries_item:hover {
  background: #367af5;
}

.industries_item:hover .item_title {
  color: #fff;
}

.item_title {
  max-width: 205px;
  width: 100%;
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #022869;
  transition: all 0.2s;
  margin-bottom: 48px;
}

/* О нас */

.about_us {
  background: #f4f5fa;
  padding: 60px 0;
}

.about_us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_us .container .title {
  margin-bottom: 20px;
}

.about_us-left p {
  max-width: 500px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* Купить легко */

.buy_easy {
  padding: 120px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 120px;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #022869CC;
  }
}

.buy_easy .title {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.subtitle {
  color: #fff;
  width: 100%;
  font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
  text-align: center;
}

.buy_easy-wrapper {
  display: flex;
  justify-content: center;
}

.buy_easy-item {
  max-width: 460px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  height: 346px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buy_easy-item-center {
  margin: 50px 30px 0 30px;
  height: 312px;
}

.buy_easy-item .h5 {
  font-family: 'Lato';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  display: block;
  background: #F4F5FA;
  width: 100%;
  padding: 30px 25px;
  text-align: center;
  position: relative;

  .ico-wrapper {
    max-width: 79px;
    width: 100%;
    height: 79px;
    position: absolute;
    background: #F4F5FA;
    border-radius: 50%;
    left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    .item-ico {
      background-repeat: no-repeat;
      display: block;
      background-size: contain;
      background-position: center;
      height: 30px;
      width: 100%;
    }
  }
}

.buy_easy-item p {
  padding: 0 25px 45px 25px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

/* Узнайте, как мы можем помочь вашему бизнесу */

.help {
  margin: 320px auto 120px auto;
  max-width: 660px;
  background: #F4F5FA;
  box-shadow: 0 4px 5px rgba(146, 146, 146, 0.2);
  border-radius: 10px;
  padding: 130px 100px 60px 100px;
  position: relative;

  .img-top, .img-bottom img {
    object-fit: cover;
    width: 100%;
  }

  .img-top {
    height: 300px;
    position: absolute;
    z-index: 6;
    max-width: 362px;
    left: 148px;
    top: -26%;
  }
  .img-bottom {
    height: 340px;
    position: absolute;
    z-index: 6;
    right: -35%;
    bottom: -15%;
    max-width: 440px;
  }
}

.help_form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 362px;
  margin-top: 20px;
  .input-wrapper {
    width: 100%;
    margin-bottom: 15px;
    textarea {
      width: 100%;
      border: 1px solid #777777;
      padding: 24px;
      font-size: 20px;
      line-height: 24px;
      height: 94px;
      resize: none;
    }
  }
  label {
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
    display: block;
    width: 100%;
  }
}
.help_form input {
  width: 100%;
  height: 38px;
  border: 1px solid #777777;
  border-radius: 5px;
  padding: 24px;
  font-size: 20px;
  line-height: 24px;
}


.help_form input::placeholder {
  font-size: 20px;
  line-height: 24px;
  color: transparent;
}

.help_form textarea::placeholder {
  font-size: 20px;
  line-height: 24px;
  color: transparent;
}

.help_form .btn-blue {
  margin-top: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  background: #367af5;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 16px 24px;
  cursor: pointer;
  height: 52px;
  max-width: 362px;
}

/* Ответы на частые вопросы */

.questions {
  max-width: 754px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.questions .title {
  text-align: center;
  margin-bottom: 30px;
}

.accordion_item {
  padding: 10px 15px;
  background: #F4F5FA;
  border-radius: 5px;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.accordion_item.active {
  background: #367AF5;
  .accordion_header {
    span {
      color: #fff;
    }
    svg {
      min-width: 26px;
      height: 26px;
      transform: rotate(45deg);
      rect {
        fill: #fff;
      }
    }
  }
  .accordion_content p {
    color: #fff;
  }
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.accordion_header.active {
  svg {
    transform: rotate(45deg);
    transition: all 0.2s;
  }
}

.accordion_header span {
  font-family: 'Lato';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  height: 38px;
  color: #000000;
  display: flex;
  align-items: center;
}

.accordion_header svg {
  transition: all 0.2s;
  min-width: 20px;
  height: 20px
}

.accordion_content {
  max-width: 669px;
  width: 100%;
  display: none;

  p {
    font-family: "Inter";
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.accordion_content p:first-child {
  margin-bottom: 20px;
  margin-top: 10px;
}

@media (max-width: 720px) {
  .img-bottom {
    display: none;
  }
}


@media (max-width: 540px) {
  .mobile-z-0 {
    z-index: -1;
  }
  .banner {
    position: relative;
    .banner-img {
      position: absolute;
      top: 115px;
      height: 202px;
      max-width: 264px;
      right: 0;
      width: 100%;
      filter: blur(1px);

      img {
        object-position: 20px;
      }
    }
    .container {
      background-position: 100% 62%;
      background-size: 205px;
    }
    .banner_center-wrapper {
      display: flex;
      width: 100%;
      order: 1;
      margin-bottom: 40px;
       a.sell {
        margin-left: 18px;
       }
    }
    .banner-center {
      display: flex;
      flex-wrap: wrap;
    }
    .banner_left {
      margin-bottom: 28px;
      .banner_left-wrapper {
        span {
          font-size: 40px;
          line-height: 48px;
        }
        p {
          font-size: 18px;
          line-height: 22px;
          margin-left: 6px;
        }
      }
    }
    .banner_right span {
      font-size: 58px;
      line-height: 12px;
      left: 310px;
      top: -50px;
    }
  }
  .banner_left h1 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    max-width: 370px;
  }
  .banner_left-wrapper .banner-info {
    margin-bottom: 20px;
  }
  .industries {
    margin: 50px 0;
    .title {
      text-align: center;
    }
    a.btn-more {
      font-family: 'Nunito';
      font-weight: 500;
      font-size: 18px;
      color: #FFFFFF;
      background: #367AF5;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      width: 100%;
      max-width: 100%;
      height: 50px;
      margin-top: 30px;
    }
  }
  .industries_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
    grid-column-gap: 10px;
    grid-row-gap: 10px;


    .industries_item {
      margin-bottom: 0;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding: 18px 23px;
      .item_title {
        margin-bottom: 36px;
        font-size: 16px;
        line-height: 19px;
      }
      img {
        max-width: 44px;
        height: 44px;
      }
    }
  }
  .industries_items.bottom {
    justify-content: center;
  }

  .about_us {
    padding: 50px 0;
    .about_us-left {
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .buy_easy {
    padding: 50px 0;


    .title {
      text-align: center;
    }
    .subtitle {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      max-width: 270px;
      margin: auto;
    }
    .buy_easy-wrapper {
      margin-top: 20px;
      flex-wrap: wrap;
      .buy_easy-item {
        margin: 0 0 30px 0;
        &:first-child {
          height: 346px;
        }
        h5 {
          font-size: 18px;
          line-height: 22px;
        }
        p {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
  .help {
    margin-bottom: 50px;
    margin-top: 140px;
    background: #fff;
    padding: 0;
    box-shadow: none;
    border: none;
    .container {
      background: #f4f5fa;
      padding: 85px 16px 50px 16px;
      box-shadow: 0 4px 5px rgba(146, 146, 146, 0.2);
      border-radius: 10px;
    }
    .inputs-wrapper label {
      display: none;
    }
    .help-form {
      .btn-blue {
        max-width: 100%;
      }
    }
    .img-top {
      max-width: 172px;
      height: 142px;
      left: 125px;
      top: -10%;
    }
    .inputs-wrapper {
      max-width: 100%;
    }
    .title {
      font-size: 28px;
      line-height: 34px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  .help_form  {
    input {
      height: 51px;
      font-size: 20px;
      border-radius: 5px;
      padding: 0 5px;
      &::placeholder {
        color: #808080;
      }
    }
    .inputs-wrapper {
      textarea {
        padding: 15px 5px;
        height: 51px;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
        border-radius: 5px;
        &::placeholder {
          color: #808080;
        }
      }
    }

    input[type='submit'] {
      height: 51px;
      max-width: 100%;
      font-size: 18px;
      line-height: 20px;
    }
  }
  .questions {
    margin-bottom: 50px;
    .title {
      margin-bottom: 20px;
    }
    .accordion_header {
      svg  {
        min-width: 30px;
        height: 30px;
      }
      span {
        font-size: 20px;
        line-height: 24px;
        max-width: 90%;
        height: initial;
      }
    }
    .accordion_content  {
      p {
        font-size: 16px;
        line-height: 19px;

        &:first-child {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .banner {
    .banner_right span {
      left: 290px;
    
    }
  }
}
@media (max-width: 380px) {
  .banner {
    .banner_right span {
      left: 280px;
    }
  }
}
@media (max-width: 360px) {
  .banner {
    .banner_right span {
      left: 260px;
    }
  }
}