.politic h2 {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 48px;
  line-height: 140.62%;
  color: #000000;
  margin-bottom: 30px;
}

.politic p {
  font-size: 24px;
  line-height: 140.62%;
  color: #000000;
}
