.prereg-header {
  background: #022869;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 45px 0;

  .img-wrapper {
    margin: auto;
    max-width: 280px;
    max-height: 40px;

    img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.preregistration-form {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  background-color: #022869;
  border-radius: 10px;
  padding: 60px 100px;
  margin-bottom: 60px;

  .reg_subtitle {
    text-align: center;
  }

  .reg-form-items {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .col-6 {
      max-width: 48%;
    }
  }

  .reg_form-item {
    width: 100%;
  }
  .upload-files {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 40px;
    input[type=file] {
      height: 168px;
      background-color: #fff;
      color: #000;
      width: 100%;
      border: 1px dashed #000;
    }
    input[type=submit].submit-btn {
      margin-top: 10px;
      float: right;
    }
  }
}

.prereg-form {
  width: 100%;
  .reg-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .desc {
      width: 100%;
      p {
        font-size: 12px;
        line-height: 15px;
        color: #fff;
      }
    }
  }
  .prereg-block {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    .checkboxes-wrapper {
      max-width: 60%;
      justify-content: space-between;
      .checkbox {
        margin-bottom: 10px;
        margin-right: 0;
      }

    }
    .prereg-desc {
      font-family: 'Inter';
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-bottom: 10px;
    }
  }
  .prereg-subtitle {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  .checkboxes-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .checkbox {
    margin-right: 56px;
    .custom-radio {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    label {
      font-size: 24px;
      line-height: 29px;
      color: #000;
    }
    /* для элемента label связанного с .custom-radio */
    .custom-radio+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
    /* создание в label псевдоэлемента  before со следующими стилями */
    .custom-radio+label::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #000000;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      border-radius: 3px;
    }
    /* стили при наведении курсора на радио */
    .custom-radio:not(:disabled):not(:checked)+label:hover::before {
      border: 1px solid #000000;
    }
    /* стили для активной радиокнопки (при нажатии на неё) */
    .custom-radio:not(:disabled):active+label::before {
      background-color: #b3d7ff;
      border: 1px solid #000000;
    }
    /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
    .custom-radio:focus:not(:checked)+label::before {
      border: 1px solid #000000;
    }
    /* стили для радиокнопки, находящейся в состоянии checked */
    .custom-radio:checked+label::before {
      border: 1px solid #000000;
      background-color: #0b76ef;
    }
    /* стили для радиокнопки, находящейся в состоянии disabled */
    .custom-radio:disabled+label::before {
      background-color: #e9ecef;
    }
  }
}

.prereg {
  max-width: 950px;
  margin: auto;
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .desc {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000;
  }
  .list {
    margin-bottom: 60px;
    width: 100%;
    border-left: 4px solid #000;
    padding-left: 5px;

    .item {
      font-size: 24px;
      line-height: 29px;
      color: #000;
    }
  }
}

.prereg-info {
  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    text-align: center;
    width: 100%;
  }
  p.upper-text {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #000;
    text-transform: uppercase;
    margin-top: 20px;

    a {
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      color: #367AF5;
      text-transform: uppercase;
    }
  }
  .date {
    margin: 15px 0 20px 0;
    width: 100%;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    i {
      margin-right: 10px;
      width: 49px;
      height: 49px;
      display: inline-block;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    p {
      margin-top: 20px;
    }
  }
}


@media (max-width: 540px) {
  .prereg {
    padding: 50px 0 60px;

    .list {
      padding: 0 16px;
      border-left: none;
      margin-bottom: 0;

      .item {
        display: inline-flex;
        margin-bottom: 5px;
        &:before {
          content: "";
          display: block;
          width: 7px;
          height: 7px;
          background: #000;
          margin-top: 10px;
          margin-right: 5px;
        }
      }
    }

    .title {
      padding: 0 16px;
      font-size: 40px;
      line-height: 48px;
    }
    .desc {
      padding: 0 16px;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .checkboxes-wrapper {
    padding: 0 16px;
  }
  .prereg-form .prereg-block .prereg-desc {
    padding: 0 16px;
  }
  .prereg-form .checkbox {
    margin-bottom: 10px;
  }
  .prereg-form .prereg-subtitle {
    background: #022869;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    padding: 15px 20px;
  }
  .prereg .reg_form-item span {
    display: initial;
  }
  .prereg-form .prereg-block .checkboxes-wrapper {
    max-width: 100%;
  }
  .prereg-form .checkbox label {
    font-size: 24px;
    line-height: 29px;
  }
  .prereg .reg_form-inner {
    background: #022869;
    padding: 30px 0;
    border-radius: 0;
  }
  .preregistration-form .reg-form-items .col-6 {
    max-width: 100%;
  }
  .preregistration-form .reg-form-items {
    flex-wrap: wrap;
  }
  .preregistration-form .upload-files {
    padding: 0 16px;
  }
  .prereg-form .reg-info .desc p {
    margin-bottom: 0;
  }
  .preregistration-form .upload-files input[type=submit].submit-btn {
    max-width: 100%;
    margin-top: 20px;
  }
  .reg-info {
    input[type=submit].submit-btn {
      max-width: 100%;
      margin: 0 16px;
    }
  }
  .prereg-info p {
    font-size: 18px;
    line-height: 22px;
  }
  .prereg-info p.upper-text {
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    background: #022869;
    padding: 10px 24px;


    a {
      color: inherit;
    }
  }
  .prereg-info .date {
    margin-bottom: 0;
    justify-content: flex-start;
    padding: 0 16px;
    display: inline-flex;
    flex-wrap: nowrap;
    i {
      background-size: contain;
    }
    .mobile-text {
      p {
        text-align: start;
        margin-top: 0;
      }
    }
  }
  .prereg-header {
    padding: 26px 16px;
    .img-wrapper {
      max-width: 183px;
      max-height: 26px;
    }
  }
  .prereg-form {
    margin-top: 50px;
  }
}