.similar-title {
	display: block;
    width: 100%;
    font-family: "Inter";
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #000;
    margin-bottom: 30px;
}

.catalog-inner.similar-products {
	margin-bottom: 60px;

	.items-wrapper {
		padding: 0;
		.col-m-6 {
			&:not(:last-child) .item{
				margin-right: 30px;
			}
		}
		.item {
			padding: 20px 8px;
			min-width: 171px;
			max-width: 264px;
		}
	}
}


@media (max-width: 540px) {
	.items-wrapper {
		.item {
			max-width: 100%;
		}
		.col-m-6:nth-child(odd) .item{
			margin-right: 7px;
		}
		.col-m-6:nth-child(even) .item{
			margin-left: 7px;
		}
	}
}