.category_section {
  background-color: #022869;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  padding: 15px 0;
}

.category_section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category_section-left {
  padding: 12px 28px;
  background: #367af5;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter-Medium";
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;

  span {
    color: #fff;
  }
}

.category_section-left svg {
  margin-right: 12px;
}

.category_section-right {
  display: flex;
  margin-right: 20px;
}

@media (max-width: 540px) {
  .category_section {
    background: transparent;
  }
  .category_section-right {
    margin-right: 0;
    width: 100%;
    flex-wrap: wrap;
  }
   .header-inner.show {
    .category_section-left {
      margin: 0 auto 20px auto;
    }
   }
}