<% var data = {
title: "Личный кабинет | Сведения о компании",
author: "mws",
home: "Главная",
curpage: "Личный кабинет"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>



<section class="account-section">
    <div class="container">
        <div class="col-12">
            <h1>Личный кабинет</h1>
            <h2>Сведения о компании</h2>
        </div>
        <div class="col-8 col-m-12">
            <div class="account-inner company-info">
                <div class="img-wrapper">
                    <img src="img/account-avatar.png" alt="">
                </div>
                <div class="item-wrapper">
                    <div class="item-title">Название организации</div>
                    <div class="item-desc">ООО “Детройт”</div>
                </div>
                <div class="item-wrapper">
                    <div class="item-title">Тип организации</div>
                    <div class="item-desc">Юридическое лицо</div>
                </div>
                <div class="item-wrapper">
                    <div class="item-title">Город</div>
                    <div class="item-desc">Воронеж</div>
                </div>
                <div class="item-wrapper">
                    <div class="item-title">Регион</div>
                    <div class="item-desc">Воронежская область</div>
                </div>
                <div class="item-wrapper">
                    <div class="item-title">Email</div>
                    <div class="item-desc">titawe5324@ningame.com</div>
                </div>
                <div class="item-wrapper">
                    <div class="item-title">Телефоны</div>
                    <div class="item-desc">+7 917 526-30-84</div>
                </div>
                <div class="item-wrapper">
                    <div class="item-title">Юридический адрес</div>
                    <div class="item-desc">Город Воронеж,улица Труда 47б, 4 этаж, офис 13</div>
                </div>
                <div class="item-wrapper">
                    <div class="item-title">Почтовый индекс</div>
                    <div class="item-desc">170000</div>
                </div>
                <div class="item-wrapper">
                    <div class="item-title">ИНН</div>
                    <div class="item-desc">836277184309</div>
                </div>
                <div class="item-wrapper">
                    <div class="item-title">ОГРН</div>
                    <div class="item-desc">10347234104801</div>
                </div>
                <div class="item-wrapper">
                    <div class="item-title">КПП</div>
                    <div class="item-desc">771238762</div>
                </div>
                <a class="btn-blue" href="#">Изменить информацию</a>
            </div>
        </div>
        <div class="col-4 col-m-12">
            <div class="navigation">
                <a href="#" class="nav-item active">Сведения о компании</a>
                <a href="#" class="nav-item">Настройка аккаунта</a>
                <a href="#" class="nav-item">Мои ставки</a>
                <a href="#" class="nav-item">Мои объявления</a>
                <a href="#" class="nav-item">Избранное</a>
                <a href="#" class="nav-item">Уведомления</a>
                <a href="#" class="nav-item">Корзина</a>
            </div>
        </div>
    </div>
</section>












<%= _.template(require('./../includes/footer.html').default)(data) %>