<% var data = {
title: "Каталог | Заголовок",
author: "mws",
home: "Главная",
curpage: "Каталог"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/breadcrumb.html').default)(data) %>


        <section class="auth">
            <div class="auth_wrapper">
                <form action="" class="enter_form">
                    <h3>Вход</h3>
                    <div class="enter_form-wrapper">
                        <h5>Телефон или Email:</h5>
                        <input placeholder="Телефон или Email:" type="text" name="phone">
                    </div>
                    <div class="enter_form-wrapper">
                        <h5>Пароль:</h5>
                        <input placeholder="Пароль:" type="password" name="password">
                    </div>
                    <input type="submit" value="Войти">
                    <a href="">Забыли пароль?</a>
                </form>
                <div class="auth_reg">
                    <span>Первый раз?</span>Пройдите<a href="">регистрацию</a>
                </div>
            </div>
        </section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
