<% var data = {
title: "Личный кабинет | Сведения о компании",
author: "mws",
home: "Главная",
curpage: "Личный кабинет"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>



<section class="account-section cart-section">
    <div class="container">
        <form action="">
            <div class="col-12 cart-title">
                <h1>Корзина</h1>
                <span class="cart-id"><span>№</span>xxxx-xxxx-xxxx</span>
            </div>
            <div class="col-12 cart-checkbox">
                <label class="custom-checkbox">
                    <input type="checkbox">
                    <span>Выделить все</span>
                </label>
            </div>
            <div class="col-9 col-m-12">
                <div class="account-inner account-bets">
                    <div class="lot-items">
                        <div class="item-wrapper cart-item">
                            <div class="lot-item">
                                <label class="custom-checkbox">
                                    <input type="checkbox">
                                </label>
                                <div class="img-wrapper">
                                    <img src="img/delivery.png" alt="">
                                </div>
                                <div class="info-wrapper">
                                    <div class="item-info">
                                        <div class="item-title">Гидравлический насос СУЦУ (Мал.)</div>
                                        <p>Номер объявления:
                                            <span>55672</span>
                                        </p>
                                        <p>Владелец:
                                            <span>ООО “ХоумКит”</span>
                                        </p>
                                    </div>
                                    <div class="item-info item-info-right">
                                        <p>
                                            Сумма к оплате:
                                            <span>681 000 ₽</span>
                                        </p>
                                        <p>
                                            Кол-во:
                                            <span class="quantity">1 шт</span>
                                        </p>
                                        <p>
                                            Местоположение:
                                            <span>г. Москва, ул. Кошевого 28</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="continue-shop" href="#">Продолжить покупку</a>
                </div>
            </div>
            <div class="col-3 col-m-12">
                <div class="cart-order">
                    <div class="title">Ваш заказ</div>
                    <div class="cart-info">
                        <div class="item">
                            Выбрано товаров:
                            <span>3 шт.</span>
                        </div>
                        <div class="item">
                            Вес заказа:
                            <span>1.8 т</span>
                        </div>
                        <div class="item">
                            Общая стоимость:
                            <span>4 530 000 ₽</span>
                        </div>
                    </div>
                    <div class="pc-hidden">
                        <div class="cart-info-mobile">
                            <div class="mobile-cart-item">
                                <span>3 шт.</span>
                                <span>1.8 т</span>
                            </div>
                            <div class="mobile-cart-item">
                                <p>4 530 000 ₽</p>
                            </div>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <input placeholder="Введите промокод" type="text">
                        <input type="submit" value="Оформить заказ">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>












<%= _.template(require('./../includes/footer.html').default)(data) %>