<% var data = {
title: "Автомобили легковые | Заголовок",
author: "mws",
home: "Главная",
curpage: "Автомобили легковые"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/breadcrumb.html').default)(data) %>

<style>
    .footer {
        position: relative;
        z-index: 0;
    }
</style>


<section class="catalog-inner">
    <div class="container">
        <div class="col-12">
            <form class="search-form" action="">
                <select name="" id="">
                    <option value="Везде" selected>Везде</option>
                </select>
                <div class="search-wrapper">
                    <i class="search-ico-btn"></i>
                    <input class="search-input" placeholder="Наименованию лота, название" type="search">
                </div>
                <input type="submit" value="Поиск">
            </form>
        </div>
        <div class="col-12">
            <h1>Автомобили легковые</h1>
        </div>
        <div class="col-3 col-m-12">
            <div class="mobile-filter-btn">Фильтры</div>
            <%= _.template(require('./../includes/filter.html').default)(data) %>
        </div>
        <div class="col-9 col-m-12 z-index-0">
            <div class="items-wrapper">
                <div class="col-4 col-m-6">
                    <div class="item">
                        <div class="icon-wrapper">
                            <i class="add-favorite"></i>
                        </div>
                        <div class="img-wrapper">
                            <img src="img/catalog-img1.png" alt="">
                        </div>
                        <div class="item-info">KIA Rio седан, черный 1.6, Дизель</div>
                        <div class="item-info">
                            Состояние
                            <span>Новое</span>
                        </div>
                        <div class="item-info">
                            Текущая ставка
                            <span>586 000 Руб.</span>
                        </div>
                        <div class="item-info">
                            Локация
                            <span>г. Москва</span>
                        </div>
                        <div class="item-info">
                            Заканчивается
                            <span class="red-span">2 дня 16 часов</span>
                        </div>
                        <a class="buy-btn" href="#">Сделать ставку</a>
                    </div>
                </div>
                <div class="col-4 col-m-6">
                    <div class="item">
                        <div class="icon-wrapper">
                            <i class="add-favorite active"></i>
                        </div>
                        <div class="img-wrapper">
                            <img src="img/catalog-img1.png" alt="">
                        </div>
                        <div class="item-info">KIA Rio седан, черный 1.6, Дизель</div>
                        <div class="item-info">
                            Состояние
                            <span>Новое</span>
                        </div>
                        <div class="item-info">
                            Текущая ставка
                            <span>586 000 Руб.</span>
                        </div>
                        <div class="item-info">
                            Локация
                            <span>г. Москва</span>
                        </div>
                        <div class="item-info">
                            Заканчивается
                            <span class="red-span">2 дня 16 часов</span>
                        </div>
                        <a class="buy-btn" href="#">Сделать ставку</a>
                    </div>
                </div>
            </div>
            <div class="mobile-btn-more">Показать ещё</div>
            <%= _.template(require('./../includes/pagination.html').default)(data) %>
        </div>
    </div>
</section>










<%= _.template(require('./../includes/footer.html').default)(data) %>