<% var data = {
title: "Личный кабинет | Сведения о компании",
author: "mws",
home: "Главная",
curpage: "Личный кабинет"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>



<section class="company-single-card">
    <div class="container">
        <div class="col-12">
            <h1>Lukoil</h1>
        </div>
        <div class="col-12">
            <div class="company-card">
                <div class="col-4 col-m-12">
                    <div class="img-wrapper">
                        <img src="img/company-card1.png" alt="">
                    </div>
                </div>
                <div class="col-7 col-m-12">
                    <div class="items-wrapper">
                        <div class="item-wrapper">
                            <div class="item-title">Название организации</div>
                            <div class="item-desc">ООО “Lukoil”</div>
                        </div>
                        <div class="item-wrapper">
                            <div class="item-title">Тип организации</div>
                            <div class="item-desc">Юридическое лицо</div>
                        </div>
                        <div class="item-wrapper">
                            <div class="item-title">Город</div>
                            <div class="item-desc">Воронеж</div>
                        </div>
                        <div class="item-wrapper">
                            <div class="item-title">Регион</div>
                            <div class="item-desc">Воронежская область</div>
                        </div>
                        <div class="item-wrapper">
                            <div class="item-title">Email</div>
                            <div class="item-desc">titawe5324@ningame.com</div>
                        </div>
                        <div class="item-wrapper">
                            <div class="item-title">Телефоны</div>
                            <div class="item-desc item-number">+7 917 526-30-84</div>
                        </div>
                        <div class="item-wrapper">
                            <div class="item-title">Юридический адрес</div>
                            <div class="item-desc">Город Воронеж,улица Труда 47б, 4 этаж, офис 13</div>
                        </div>
                        <div class="item-wrapper">
                            <div class="item-title">Почтовый индекс</div>
                            <div class="item-desc">170000</div>
                        </div>
                        <div class="item-wrapper">
                            <div class="item-title">ИНН</div>
                            <div class="item-desc">836277184309</div>
                        </div>
                        <div class="item-wrapper">
                            <div class="item-title">ОГРН</div>
                            <div class="item-desc">10347234104801</div>
                        </div>
                        <div class="item-wrapper">
                            <div class="item-title">КПП</div>
                            <div class="item-desc">771238762</div>
                        </div>
                    </div>
                </div> 
                <div class="col-1 company-star col-m-12">
                    <div class="star-wrapper">
                        <img src="img/icons/star.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>












<%= _.template(require('./../includes/footer.html').default)(data) %>