<% var data = {
title: "Главная страница | Заголовок",
author: "mws"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>



<section class="banner" style="background-image: url(/img/home-back-banner.png)">
    <div class="container">
        <div class="col-6 col-m-12">
            <div class="banner_left">
                <h1>
                    Покупайте и продавайте излишки на нашей торговой площадке
                </h1>
                <div class="banner_left-wrapper">
                    <div class="banner-info">
                        <span>500+</span>
                        <p>Категория активов и одна компания</p>
                    </div>
                    <a class="btn-blue" href="#">Ознакомиться с аукционами</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-m-12 mobile-z-0">
            <div class="banner-img">
                <img src="/img/home-banner-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="industries">
    <div class="container">
        <div class="mobile-hidden">
            <div class="swiper swiper-industries industries_items-swiper">
                <h2 class="title">
                    Отрасли промышленности
                </h2>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-wrapper industries_items">
                    <div class="swiper-slide">
                        <a href="" class="industries_item">
                            <div class="item_title">
                                Авиационная промышленность
                            </div>
                            <img src="img/ind_img1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="industries_item">
                            <div class="item_title">
                                Авиационная промышленность
                            </div>
                            <img src="img/ind_img1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="industries_item">
                            <div class="item_title">
                                Авиационная промышленность
                            </div>
                            <img src="img/ind_img1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="industries_item">
                            <div class="item_title">
                                Авиационная промышленность
                            </div>
                            <img src="img/ind_img1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="industries_item">
                            <div class="item_title">
                                Авиационная промышленность
                            </div>
                            <img src="img/ind_img1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="industries_item">
                            <div class="item_title">
                                Авиационная промышленность
                            </div>
                            <img src="img/ind_img1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="industries_item">
                            <div class="item_title">
                                Авиационная промышленность
                            </div>
                            <img src="img/ind_img1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="industries_item">
                            <div class="item_title">
                                Авиационная промышленность
                            </div>
                            <img src="img/ind_img1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="industries_item">
                            <div class="item_title">
                                Авиационная промышленность
                            </div>
                            <img src="img/ind_img1.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="industries_item">
                            <div class="item_title">
                                Авиационная промышленность
                            </div>
                            <img src="img/ind_img1.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pc-hidden">
            <div class="industries_items">
                <a href="#" class="industries_item">
                    <div class="item_title">
                        Авиационная промышленность
                    </div>
                    <img src="img/ind_img1.png" alt="">
                </a>
                <a href="#" class="industries_item">
                    <div class="item_title">
                        Авиационная промышленность
                    </div>
                    <img src="img/ind_img1.png" alt="">
                </a>
                <a href="#" class="industries_item">
                    <div class="item_title">
                        Авиационная промышленность
                    </div>
                    <img src="img/ind_img1.png" alt="">
                </a>
                <a href="#" class="industries_item">
                    <div class="item_title">
                        Авиационная промышленность
                    </div>
                    <img src="img/ind_img1.png" alt="">
                </a>
            </div>
            <a href="#" class="btn-more btn-blue">Показать ещё</a>
        </div>
    </div>
</section>
<section class="about_us">
    <div class="container">
        <div class="about_us-left">
            <h2 class="title">
                О нас
            </h2>
            <p>
                Компания liquidationmarket была основана на наборе основных ценностей и убеждении в том, что
                существует лучший путь вперед в отрасли обратной цепочки поставок стоимостью 150 миллиардов
                долларов - способ превратить излишки из бремени в возможность создания добавленной стоимости.
            </p>
        </div>
        <div class="about_us-right">
            <img src="img/about_us-img.jpg" alt="">
        </div>
    </div>
</section>
<section class="buy_easy" style="background-image: url(/img/buy-back-img.png)">
    <div class="container">
        <h2 class="title">
            Купить легко
        </h2>
        <h3 class="subtitle">
            Зарегестрируйся бесплатно и начни за считанные минуты
        </h3>
        <div class="buy_easy-wrapper">
            <div class="buy_easy-item">
                <div class="h5">
                    Экономьте время и деньги
                    <div class="ico-wrapper">
                        <i class="item-ico" style="background-image: url(/img/icons/easy-item-ico.svg)"></i>
                    </div>
                </div>
                <p>
                    Простые в использовании торговые площадки и оперативная служба поддержки клиентов помогут
                    вам совершать покупки просто и быстро. Кроме того, наши справедливые цены могут дать
                    значительную экономию по сравнению с покупкой нового!
                </p>
            </div>
            <div class="buy_easy-item buy_easy-item-center">
                <div class="h5">
                    Покупайте уверенно
                    <div class="ico-wrapper">
                        <i class="item-ico" style="background-image: url(/img/icons/easy-item-ico-2.svg)"></i>
                    </div>
                </div>
                <p>
                    Наши активы получены от лидеров отрасли и перечислены с исчерпывающей информацией, включая
                    описания и фотографии, что вселяет в вас уверенность в своей покупке.
                </p>
            </div>
            <div class="buy_easy-item">
                <div class="h5">
                    Развивайте свой бизнес
                    <div class="ico-wrapper">
                        <i class="item-ico" style="background-image: url(/img/icons/easy-item-ico-3.svg)"></i>
                    </div>
                </div>
                <p>
                    Доступ к товарам практически в каждой категории, отрасли и регионе позволяет быстро получить
                    оборудование или инвентарь, необходимые для расширения вашего бизнеса.
                </p>
            </div>
        </div>
    </div>
</section>
<%= _.template(require('./../includes/callback-form.html').default)(data) %>
<section class="questions">
    <div class="container">
        <h2 class="title">
            Ответы на частые вопросы
        </h2>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Какие продукты я могу найти на вашей площадке?
                </span>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="13" y="27" width="26" height="2" rx="1" transform="rotate(-90 13 27)" fill="black"/>
                    <rect x="27" y="15" width="26" height="2" rx="1" transform="rotate(-180 27 15)" fill="black"/>
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Как мне платить?
                </span>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="13" y="27" width="26" height="2" rx="1" transform="rotate(-90 13 27)" fill="black"/>
                    <rect x="27" y="15" width="26" height="2" rx="1" transform="rotate(-180 27 15)" fill="black"/>
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Кто занимается доставкой?
                </span>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="13" y="27" width="26" height="2" rx="1" transform="rotate(-90 13 27)" fill="black"/>
                    <rect x="27" y="15" width="26" height="2" rx="1" transform="rotate(-180 27 15)" fill="black"/>
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Как мне приобрести продукт на вашей площадке?
                </span>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="13" y="27" width="26" height="2" rx="1" transform="rotate(-90 13 27)" fill="black"/>
                    <rect x="27" y="15" width="26" height="2" rx="1" transform="rotate(-180 27 15)" fill="black"/>
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Как мне управлять профилем?
                </span>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="13" y="27" width="26" height="2" rx="1" transform="rotate(-90 13 27)" fill="black"/>
                    <rect x="27" y="15" width="26" height="2" rx="1" transform="rotate(-180 27 15)" fill="black"/>
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Какую информацию я должен предоставить площадке?
                </span>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="13" y="27" width="26" height="2" rx="1" transform="rotate(-90 13 27)" fill="black"/>
                    <rect x="27" y="15" width="26" height="2" rx="1" transform="rotate(-180 27 15)" fill="black"/>
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
    </div>
</section>
    <%= _.template(require('./../includes/footer.html').default)(data) %>