<% var data = {
title: "Главная страница | Заголовок",
author: "mws"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>



<section class="banner">
    <div class="container">
        <div class="col-6 col-m-12">
            <div class="banner_left">
                <h1>
                    Покупайте и продавайте излишки на нашей торговой площадке
                </h1>
                <div class="banner_left-wrapper">
                    <span>
                        500+
                    </span>
                    <p>
                        Категория активов и одна компания
                    </p>
                </div>
            </div>
        </div>
        <div class="col-5 col-m-12">
            <div class="banner_center">
                <div class="banner_center-wrapper">
                    <a href="">Купить</a>
                    <a href="" class="sell">Продать</a>
                </div>
                <a href="catalog.html" class="catalog-btn">Каталог</a>
            </div>
        </div>
        <div class="col-1">
            <div class="banner_right">
                <span>
                    01
                </span>
            </div>
        </div> 
    </div>
</section>
<section class="industries">
    <div class="container">
        <h2 class="title">
            Отрасли промышленности
        </h2>
        <div class="industries_items">
            <a href="" class="industries_item">
                <div class="item_title">
                    Авиационная промышленность
                </div>
                <img src="img/ind_img1.png" alt="">
            </a>
            <a href="" class="industries_item">
                <div class="item_title">
                    Авиационная промышленность
                </div>
                <div class="img-wrapper">
                    <img src="img/ind_img2.png" alt="">
                </div> 
            </a>
            <a href="" class="industries_item">
                <div class="item_title">
                    Строительство
                </div>
                <img src="img/ind_img3.png" alt="">
            </a>
        </div>
        <div class="industries_items bottom">
            <a href="" class="industries_item">
                <div class="item_title">
                    Химическая промышленность
                </div>
                <img src="img/ind_img4.png" alt="">
            </a>
            <a href="" class="industries_item">
                <div class="item_title">
                    Металлургическая промышленность
                </div>
                <img src="img/ind_img5.png" alt="">
            </a>
        </div>
    </div>
</section>
<section class="about_us">
    <div class="container">
        <div class="about_us-left">
            <h2 class="title">
                О нас
            </h2>
            <p>
                Компания liquidationmarket была основана на наборе основных ценностей и убеждении в том, что
                существует лучший путь вперед в отрасли обратной цепочки поставок стоимостью 150 миллиардов
                долларов - способ превратить излишки из бремени в возможность создания добавленной стоимости.
            </p>
        </div>
        <div class="about_us-right">
            <img src="img/about_us-img.jpg" alt="">
        </div>
    </div>
</section>
<section class="buy_easy">
    <div class="container">
        <h2 class="title">
            Купить легко
        </h2>
        <h3 class="subtitle">
            Зарегестрируйся бесплатно и начни за считанные минуты
        </h3>
        <div class="buy_easy-wrapper">
            <div class="buy_easy-item">
                <h5>
                    Экономьте время и деньги
                </h5>
                <p>
                    Простые в использовании торговые площадки и оперативная служба поддержки клиентов помогут
                    вам совершать покупки просто и быстро. Кроме того, наши справедливые цены могут дать
                    значительную экономию по сравнению с покупкой нового!
                </p>
            </div>
            <div class="buy_easy-item">
                <h5>
                    Покупайте уверенно
                </h5>
                <p>
                    Наши активы получены от лидеров отрасли и перечислены с исчерпывающей информацией, включая
                    описания и фотографии, что вселяет в вас уверенность в своей покупке.
                </p>
            </div>
            <div class="buy_easy-item">
                <h5>
                    Развивайте свой бизнес
                </h5>
                <p>
                    Доступ к товарам практически в каждой категории, отрасли и регионе позволяет быстро получить
                    оборудование или инвентарь, необходимые для расширения вашего бизнеса.
                </p>
            </div>
        </div>
    </div>
</section>
<%= _.template(require('./../includes/callback-form.html').default)(data) %>
<section class="questions">
    <div class="container">
        <h2 class="title">
            Ответы на частые вопросы
        </h2>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Какие продукты я могу найти на вашей площадке?
                </span>
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="18" fill="#022869" />
                    <rect x="17" y="31" width="26" height="2" transform="rotate(-90 17 31)" fill="white" />
                    <rect x="31" y="19" width="26" height="2" transform="rotate(-180 31 19)" fill="white" />
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Как мне платить?
                </span>
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="18" fill="#022869" />
                    <rect x="17" y="31" width="26" height="2" transform="rotate(-90 17 31)" fill="white" />
                    <rect x="31" y="19" width="26" height="2" transform="rotate(-180 31 19)" fill="white" />
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Кто занимается доставкой?
                </span>
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="18" fill="#022869" />
                    <rect x="17" y="31" width="26" height="2" transform="rotate(-90 17 31)" fill="white" />
                    <rect x="31" y="19" width="26" height="2" transform="rotate(-180 31 19)" fill="white" />
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Как мне приобрести продукт на вашей площадке?
                </span>
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="18" fill="#022869" />
                    <rect x="17" y="31" width="26" height="2" transform="rotate(-90 17 31)" fill="white" />
                    <rect x="31" y="19" width="26" height="2" transform="rotate(-180 31 19)" fill="white" />
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Как мне управлять профилем?
                </span>
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="18" fill="#022869" />
                    <rect x="17" y="31" width="26" height="2" transform="rotate(-90 17 31)" fill="white" />
                    <rect x="31" y="19" width="26" height="2" transform="rotate(-180 31 19)" fill="white" />
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
        <div class="accordion_item">
            <div class="accordion_header">
                <span>
                    Какую информацию я должен предоставить площадке?
                </span>
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="18" fill="#022869" />
                    <rect x="17" y="31" width="26" height="2" transform="rotate(-90 17 31)" fill="white" />
                    <rect x="31" y="19" width="26" height="2" transform="rotate(-180 31 19)" fill="white" />
                </svg>
            </div>
            <div class="accordion_content">
                <p>
                    Наша площадка предлагает широкий ассортимент оптовых товаров, удовлетворяющих уникальные
                    потребности профессиональных покупателей, включая новые, бывшие в употреблении товары,
                    снятые с полки, восстановленные, возвратные и утилизированные во многих различных
                    категориях.
                </p>
                <p>
                    Наши категории продуктов включают одежду и аксессуары, ювелирные изделия и часы, компьютеры
                    и сети, бытовую электронику, товары общего назначения, товары для дома, инструменты и
                    оборудование, а также приспособления и приспособления для магазинов.
                </p>
            </div>
        </div>
    </div>
</section>
    <%= _.template(require('./../includes/footer.html').default)(data) %>