<% var data = {
title: "Оформление заказа | Заголовок",
author: "mws",
home: "Главная",
curpage: "Оформление заказа"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="ordering account-section">
    <form action="" id="formSteps">
        <div class="container">
            <div class="col-12">
                <div class="mob-step-1 mob-step">
                    <div class="col-12">
                        <h1>Оформление заказа</h1>
                    </div>
                    <div class="pc-hidden">
                        <div class="mobile-steps-status">
                            <p>Информация о доставке 1 из 2 шагов</p>
                        </div>
                    </div>

                    <div class="delivery-address edit">
                        <div class="title">Выберите способ получения</div>
                        <div class="address-item">
                            <div class="address-title">Адрес доставки</div>
                            <div class="edit-address">
                                <div class="input-wrapper">
                                    <div class="name">ФИО заказчика</div>
                                    <input type="text" placeholder="Сергеев Олег Александрович">
                                </div>
                                <div class="input-wrapper">
                                    <div class="name">Адрес доставки</div>
                                    <textarea type="text" placeholder="Г. Воронеж, ул. Некрасова 12, 1 этаж, 170020"></textarea>
                                </div>
                                <div class="input-wrapper">
                                    <div class="name">Страна</div>
                                    <input type="text" placeholder="Россия">
                                </div>
                                <div class="input-wrapper">
                                    <div class="name">Номер телефона</div>
                                    <input type="text" placeholder="+79175263274">
                                </div>
                                <input value="Изменить" type="submit" class="submit-btn">
                            </div>
                        </div>
                    </div>
                    <div class="seller-info">
                        <div class="name">Продавец <span>ООО “ИнХаус”</span></div>
                        <div class="delivery-type">Самовывоз</div>
                    </div>
                </div>
                <div class="mob-step-2 mob-step account-bets account-inner">
                    <div class="pc-hidden">
                        <div class="mobile-steps-status">
                            <p>Информация о доставке 2 из 2 шагов</p>
                        </div>
                    </div>
                    <div class="lot-items">
                        <div class="item-wrapper">
                            <div class="lot-item">
                                <div class="img-wrapper">
                                    <img src="img/delivery.png" alt="">
                                </div>
                                <div class="info-wrapper">
                                    <div class="item-info">
                                        <div class="item-title">Стеллажи металлические</div>
                                        <p>Номер объявления:
                                            <span>12</span>
                                        </p>
                                        <p>Владелец:
                                            <span>ООО “ИнХаус”</span>
                                        </p>
                                    </div>
                                    <div class="item-info item-info-right">
                                        <p>
                                            Сумма к оплате:
                                            <span>100 000 ₽</span>
                                        </p>
                                        <p>
                                            Кол-во:
                                            <span class="quantity">5 шт</span>
                                        </p>
                                        <p>
                                            Местоположение:
                                            <span>г. Тула, ул. Некрасова 9</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-final-info">
                        <div class="item">Местонахождение лота: <span>г. Тула, ул. Некрасова 9</span></div>
                        <div class="item">Общая стоимость лота: <span>100 000 ₽</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-hidden">
            <input type="submit" name="" class="submit-btn" value="Оформить заказ">
        </div>
    </form>
    <div class="pc-hidden pg-m pg-m">
        <button class="pg-m prev-step" id="prevBtn" onclick="nextPrev(-1)" >Назад</button>
        <button class="pg-m next-step" id="nextBtn" onclick="nextPrev(1)" >Далее</button>
    </div>
</section>











<%= _.template(require('./../includes/footer.html').default)(data) %>