<% var data = {
title: "Оформление заказа | Заголовок",
author: "mws",
home: "Главная",
curpage: "Оформление заказа"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<form action="" class="ordering">
    <div class="container">
        <div class="col-12">
            <h1>Заказ товара</h1>
        </div>
        <div class="col-12">
            <div class="ordering-items mob-step-1">
                <div class="ordering-title">Выберите способ получения</div>
                <div class="ordering-item">
                    <label class="input-title">Город*</label>
                    <input required class="input" type="text">
                </div>
                <div class="ordering-item">
                    <label class="input-title">Улица*</label>
                    <input required class="input" type="text">
                </div>
                <div class="ordering-item">
                    <label class="input-title">Квартира</label>
                    <input class="input" type="text">
                </div>
                <div class="ordering-item">
                    <label class="input-title">Индекс*</label>
                    <input required class="input" type="text">
                </div>
                <div class="ordering-checkboxes">
                    <div class="checkbox">
                        <input checked class="custom-radio" name="delivery-method" type="radio" id="cdek" value="cdek">
                        <label for="cdek">СДЭК</label>
                    </div>
                    <div class="checkbox">
                        <input class="custom-radio" name="delivery-method" type="radio" id="mail" value="mail">
                        <label for="mail">Почта России</label>
                    </div>
                    <div class="checkbox">
                        <input class="custom-radio" name="delivery-method" type="radio" id="courier" value="courier">
                        <label for="courier">Личный курьер</label>
                    </div>
                    <div class="checkbox">
                        <input class="custom-radio" name="delivery-method" type="radio" id="pickup" value="pickup">
                        <label for="pickup">Самовывоз</label>
                    </div>
                </div>
            </div>
            <div class="ordering-items mob-step-2">
                <div class="ordering-title">Ваши личные данные</div>
                <div class="ordering-item wide">
                    <label class="input-title">Фамилия и имя*</label>
                    <input required class="input" type="text">
                </div>
                <div class="ordering-item">
                    <label class="input-title">Email адрес*</label>
                    <input required class="input" type="text">
                </div>
                <div class="ordering-item">
                    <label class="input-title">Телефон*</label>
                    <input required class="input" type="text">
                </div>
                <div class="col-12">
                    <div class="ordering-total">
                        Общая стоимость товара:
                        <span>8 449 р.</span>
                    </div>
                    <input type="submit" class="btn-blue" value="Оформить заказ">
                </div>
            </div>
        </div>
    </div>
</form>











<%= _.template(require('./../includes/footer.html').default)(data) %>