<% var data = {
title: "Политика конфиденциальности | Заголовок",
author: "mws",
home: "Главная",
curpage: "Политика конфиденциальности"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
        <section class="politic">
            <div class="container">
                <h2>
                    Политика конфиденциальности
                </h2>
                <p>
                    Политика в отношении обработки персональных данных<br>
                    1. Общие положения<br>
                    Настоящая политика обработки персональных данных составлена в <br> соответствии с требованиями
                    Федерального закона от 27.07.2006. №152-ФЗ «О <br> персональных данных» (далее - Закон о персональных
                    данных) и определяет <br> порядок обработки персональных данных и меры по обеспечению <br> безопасности
                    персональных данных, предпринимаемые Коноваловой <br> Викторией Евгеньевньевной (далее – Оператор).<br>
                    1.1. Оператор ставит своей важнейшей целью и условием осуществления <br> своей деятельности соблюдение
                    прав и свобод человека и гражданина при <br> обработке его персональных данных, в том числе защиты прав
                    на <br> неприкосновенность частной жизни, личную и семейную тайну.<br>
                    1.2. Настоящая политика Оператора в отношении обработки персональных <br> данных (далее – Политика)
                    применяется ко всей информации, которую <br> Оператор может получить о посетителях веб-сайта
                    https://<br>liquidationmarket.com.<br>
                    2. Основные понятия, используемые в Политике<br>
                    2.1. Автоматизированная обработка персональных данных – обработка <br> персональных данных с помощью
                    средств вычислительной техники.<br>
                    2.2. Блокирование персональных данных – временное прекращение обработки <br> персональных данных (за
                    исключением случаев, если обработка необходима <br> для уточнения персональных данных).<br>
                    2.3. Веб-сайт – совокупность графических и информационных материалов, а <br> также программ для ЭВМ и баз
                    данных, обеспечивающих их доступность в сети интернет по сетевому адресу
                    https://liquidationmarket.com.<br>
                    2.4. Информационная система персональных данных — совокупность <br> содержащихся в базах данных
                    персональных данных, и обеспечивающих их <br> обработку информационных технологий и технических средств.<br>
                    2.5. Обезличивание персональных данных — действия, в результате которых <br> невозможно определить без
                    использования дополнительной информации <br> принадлежность персональных данных конкретному Пользователю
                    или иному субъекту персональных данных.<br>
                    2.6. Обработка персональных данных – любое действие (операция) или <br> совокупность действий (операций),
                    совершаемых с использованием средств <br> автоматизации или без использования таких средств с
                    персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение<br>
                    (обновление, изменение), извлечение, использование, передачу (распространение, предоставление,
                    доступ), обезличивание, блокирование, удаление, уничтожение персональных данных...
                </p>
            </div>
        </section>
<%= _.template(require('./../includes/footer.html').default)(data) %>