<% var data = {
title: "Телефоны | Заголовок",
author: "mws",
home: "Главная",
curpage: "Телефоны"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/breadcrumb.html').default)(data) %>

<section class="product-inner">
    <div class="container">
        <div class="col-12 product-upper-content">
            <div class="col-6 col-m-12 left-content">
            <h1>IPHONE 12 PRO, 4 621 520 ₽</h1>
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/product-slide1.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/product-slide1.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/product-slide1.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/product-slide1.png">
                    </div>
                    <div class="swiper-slide">
                        <div class="video-wrapper">
                            <div class="vid-btn"></div>
                            <img src="/img/video-slide1.png">
                        </div>
                    </div>
                </div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/product-slide1.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/product-slide1.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/product-slide1.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/product-slide1.png">
                    </div>
                    <div class="swiper-slide">
                        <div class="video-wrapper">
                            <div class="vid-btn"></div>
                            <img src="/img/video-slide1.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-m-12">
            <div class="lot-info">
                <div class="lot-desc fw-b">
                    Конец лота через:
                    <span class="blue">2 дня 12 часов 32 минуты</span>
                </div>
                <div class="lot-desc lot-end">
                    (Лот закрывается
                    <span> 30 декабря в 12:00</span>
                    )
                </div>
            </div>
            <form class="lot-form" action="">
                <div class="lot-info product-info">
                    <div class="products-info-wrapper">
                        <div class="lot-item-wrapper">
                        <div class="col-6">
                            <p class="fw-b">Текущая ставка:</p>
                        </div>
                        <div class="col-6">
                            <p class="fw-b">1.030.300 ₽</p>
                        </div>
                    </div>
                    <div class="lot-item-wrapper">
                        <div class="col-6">
                            <p class="fw-b">Минимальная ставка:</p>
                        </div>
                        <div class="col-6">
                            <p>550.000 ₽</p>
                        </div>
                    </div>
                     <div class="lot-item-wrapper">
                        <div class="col-6">
                            <p>Номер лота:</p>
                        </div>
                        <div class="col-6">
                            <p>55672</p>
                        </div>
                    </div>
                    <div class="lot-item-wrapper">
                        <div class="col-6">
                            <p>Продавец:</p>
                        </div>
                        <div class="col-6">
                            <p>ООО “ЯнАвангард”</p>
                        </div>
                    </div>
                    <div class="lot-item-wrapper">
                        <div class="col-6">
                            <p>Расположение:</p>
                        </div>
                        <div class="col-6">
                            <p>Москва</p>
                        </div>
                    </div>
                    <div class="lot-item-wrapper">
                        <div class="col-6">
                            <p>Состояние:</p>
                        </div>
                        <div class="col-6"> 
                            <p>Новое<i class="help-quality"></i></p>  
                            <div class="quality-info">
                                <div class="title">Новое</div>
                                <p class="desc">
                                    Новые активы находятся в оригинальной упаковке и обладают всеми характеристиками /качествами / функциями, заявленными производителем.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="lot-item-wrapper">
                        <div class="col-6">
                            <p>Вес лота:</p>
                        </div>
                        <div class="col-6">
                            <p>5 килограмм</p>
                        </div>
                    </div>
                    <div class="lot-item-wrapper">
                        <div class="col-6">
                            <p>Колличество в лоте:</p>
                        </div>
                        <div class="col-6">
                            <p>39</p>
                        </div>
                    </div>
                    <div class="lot-item-wrapper">
                        <div class="col-6">
                            <p>Тип аукциона:</p>
                        </div>
                        <div class="col-6">
                            <p>Стандартный</p>
                        </div>
                    </div>
                    </div>
                    <div class="col-12">
                        <div class="payment-methods">
                            <img src="/img/icons/visa.svg" alt="">
                            <img src="/img/icons/visa.svg" alt="">
                            <img src="/img/icons/visa.svg" alt="">
                        </div>
                        <div class="further-information">
                            <div class="item item-left">
                                Просмотров
                                <span>264</span>
                            </div>
                            <div class="item">
                                В списке товаров
                                <span>21</span>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" placeholder="Введите ставку">
                        </div>
                         <div class="input-wrapper">
                            <input type="submit" value="Сделать ставку">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
        <div class="col-12 product-data">
            <div class="product-subtitle">
                <div class="img-wrapper">
                    <img src="/img/icons/prod-desc.svg" alt="">
                </div>
                Описание
            </div>
            <div class="product-content">
                <div class="product-desc">
                    <p>
                    Все телефоны включаются с исправным ЖК-дисплеем. 
                    Агрегаты прошли минимальные испытания. Возможен требуемый ремонт, включая экраны или другие компоненты. Смешанные размеры ГБ / хранилища.
                </p>
                <p>
                    Разблокирован перевозчик и другие перевозчики. Никаких гарантий относительно блокировки паролем, пользовательской блокировки и т. Д. Для разблокировки устройств могут потребоваться сторонние услуги. Блокировки пользователей есть. В листинге представлены стоковые фотографии только для примера.
                </p>
                </div>
                <div class="product-links">
                    <li>
                        <i style="background-image: url(/img/icons/icon-eye.svg);"></i>
                        <a href="#">Посмотреть манифест </a>
                    </li>
                    <li>
                        <i style="background-image: url(/img/icons/icon-download.svg);"></i>
                        <a href="#">Скачать манифест</a>
                    </li>
                </div>
            </div>
        </div>
        <div class="col-12 product-data">
            <div class="product-subtitle">
                <div class="img-wrapper">
                    <img src="/img/icons/truck.svg" alt="">
                </div>
                Доставка
            </div>
            <div class="product-content">
                <div class="product-delivery">
                    <div class="product-info">
                        <div class="lot-item-wrapper">
                            <div class="col-3">
                                <p>Вес лота:</p>
                            </div>
                            <div class="col-8">
                                <p>5 кг</p>
                            </div>
                        </div>
                        <div class="lot-item-wrapper">
                            <div class="col-3">
                                <p>Стоимость доставки от:</p>
                            </div>
                            <div class="col-8">
                                <p>3000 ₽</p>
                            </div>
                        </div>
                        <div class="lot-item-wrapper">
                            <div class="col-3">
                                <p>Условия доставки:</p>
                            </div>
                            <div class="col-8">
                                <p>Liquidationmarket организует доставку 
                                    <a href="#">(рассчитать цену)</a>
                                </p>
                            </div>
                        </div>
                        <div class="lot-item-wrapper">
                            <div class="col-3">
                                <p>Размерная классификация:</p>
                            </div>
                            <div class="col-8">
                                <p>Коробка</p>
                            </div>
                        </div>
                        <div class="lot-item-wrapper">
                            <div class="col-3">
                                <p>Колличество упаковок</p>
                            </div>
                            <div class="col-8">
                                <p>1</p>
                            </div>
                        </div>
                        <div class="lot-item-wrapper">
                            <div class="col-3">
                                <p>Доступно лотов:</p>
                            </div>
                            <div class="col-8">
                                <p>1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%= _.template(require('./../includes/similar-products.html').default)(data) %>













<%= _.template(require('./../includes/footer.html').default)(data) %>