<% var data = {
title: "Регистрация | Заголовок",
author: "mws",
home: "Главная",
curpage: "Регистрация"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/breadcrumb.html').default)(data) %>


        <section class="reg">
            <div class="container">
                <h1 class="reg_title">
                    Регистрация
                </h1>
                <h3 class="reg_subtitle">
                    Данные организации
                </h3>
                <form action="" class="reg_form">
                    <div class="reg_form-inner">
                        <div class="reg_form-item">
                            <span>Наименование организации*</span>
                            <input type="text" name="org_name">
                        </div>
                        <div class="reg_form-item">
                            <span>ИНН организации*</span>
                            <input type="text" name="INN">
                        </div>
                        <div class="reg_form-item">
                            <span>ОГРН организации*</span>
                            <input type="text" name="OQRN">
                        </div>
                        <div class="reg_form-item">
                            <span>КПП организации*</span>
                            <input type="text" name="KPP">
                        </div>
                        <div class="reg_form-item">
                            <span>Город*</span>
                            <input type="text" name="city">
                        </div>
                        <div class="reg_form-item">
                            <span>Наименование организации*</span>
                            <input type="text">
                        </div>
                        <div class="reg_form-item">
                            <span>Фактический адрес*</span>
                            <input type="text" name="fact_adress">
                        </div>
                        <div class="reg_form-item">
                            <span>Юридический адрес*</span>
                            <input type="text" name="yur_adress">
                        </div>
                        <div class="reg_form-item">
                            <span>Почтовый индекс*</span>
                            <input type="text" name="mail_index">
                        </div>
                        <div class="reg_form-item">
                            <span>Телефон*</span>
                            <input type="text" name="phone">
                        </div>
                        <div class="reg_form-item">
                            <span>Email</span>
                            <input type="text" name="e-mail">
                        </div>
                    </div>
                    <h3 class="reg_subtitle">
                        Данные руководителя
                    </h3>
                    <div class="reg_form-inner">
                        <div class="reg_form-item">
                            <span>ФИО*</span>
                            <input type="text" name="ФИО">
                        </div>
                        <div class="reg_form-item">
                            <span>Должность*</span>
                            <input type="text" name="post">
                        </div>
                        <div class="reg_form-item">
                            <span>Телефон*</span>
                            <input type="text" name="phone">
                        </div>
                        <div class="reg_form-item">
                            <span>КПП организации*</span>
                            <input type="text" name="KPP">
                        </div>
                        <div class="reg_form-item">
                            <span>Email*</span>
                            <input type="text" name="e-mail">
                        </div>
                        <div class="reg_form-item">
                            <span>Придумайте пароль*</span>
                            <input type="password">
                        </div>
                        <div class="reg_form-item">
                            <span>Повторите пароль*</span>
                            <input type="password">
                        </div>
                    </div>
                    <a data-fancybox href="#hidden" class="reg_btn">
                        Зарегестрироваться
                    </a>
                    <p class="reg_text">
                        Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой
                        конфиденциальности
                    </p>
                </form>
            </div>
        </section>


<div class="contacts-popup reg-popup" style="display: none;" id="hidden">
        <div class="title">Заявка на регистрацию успешно отправлена!</div>
        <p>Письмо о регистрации было отправлено на почтовый адрес xxxxxxxx123@gmail.com</p>
        <p>Проверка компании из открытых источников может занимать несколько дней.</p>
        <a href="#">Готово</a>
    </div>


<%= _.template(require('./../includes/footer.html').default)(data) %>