[class^="col-"] {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
  z-index: 1
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%
}
.col-12 {
  width: 100%;
}


@media (max-width: 540px) {
.col-m-1 {
  width: 8.33333333%;
}
.col-m-2 {
  width: 16.66666667%;
}
.col-m-3 {
  width: 25%;
}
.col-m-4 {
  width: 33.33333333%;
}
.col-m-5 {
  width: 41.66666667%;
}
.col-m-6 {
  width: 50%;
  z-index: 1
}
.col-m-7 {
  width: 58.33333333%;
}
.col-m-8 {
  width: 66.66666667%;
}
.col-m-9 {
  width: 75%;
}
.col-m-10 {
  width: 83.33333333%;
}
.col-m-11 {
  width: 91.66666667%
}
.col-m-12 {
  width: 100%;
}
}