* {
  font-family: $font-family;
  box-sizing: border-box;
  z-index: 5;
}
img {
  max-width: 100%;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  box-shadow: none;
}
span {
  display: inline-block;
}
input,
button,
select,
textarea {
  outline: none;
}

.hamburger {
  display: none;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.container-fluid {
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}


.title {
  display: block;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
input {
  border: none;
}
h1 {
  display: block;
  width: 100%;
  font-family: "Inter";
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

@media (max-width: 540px) {
  h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .container {
    padding: 0 15px;
  }
  .title {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
  }
}