* {
  font-family: $font-family;
  box-sizing: border-box;
  z-index: 5;
}
img {
  max-width: 100%;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  box-shadow: none;
}
span {
  display: inline-block;
}
input,
button,
select,
textarea {
  outline: none;
}

.hamburger {
  display: none;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.container-fluid {
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.pc-hidden {
  display: none!important;
}


.title {
  display: block;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
input {
  border: none;
}
h1 {
  display: block;
  width: 100%;
  font-family: "Inter";
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.empty-content {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #7B7B7B;
    background: #e8e8e8;
    min-height: 342px;

    p.empty {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 10px;
    a {
      color: #367AF5;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.table-wrapper .empty-content {
  border: none;
}

@media (max-width: 540px) {
  .pc-hidden {
    display: block!important;
  }
  .mobile-hidden {
    display: none!important;
  }
  h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .container {
    padding: 0 15px;
  }
  .title {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
  }
}