* {
  font-family: 'Inter';
  box-sizing: border-box;
  z-index: 5;
}
img {
  max-width: 100%;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  box-shadow: none;
}
span {
  display: inline-block;
}
.flex-end {
  align-items: flex-end;
}
input,
button,
select,
textarea {
  outline: none;
}
.z-index-0 {
  z-index: 0;
}
.hamburger {
  display: none;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.container-fluid {
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.pc-hidden {
  display: none!important;
}

.title {
  display: block;
  width: 100%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
input {
  border: none;
}
h1 {
  display: block;
  width: 100%;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.empty-content {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #7B7B7B;
    background: #e8e8e8;
    min-height: 342px;

    p.empty {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 10px;
    a {
      color: #367AF5;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.table-wrapper .empty-content {
  border: none;
}
.mob-step {
  width: 100%;
}


.invalid {
  border-color:  #FB0000!important;
}
.msg-error {
  padding: 0 16px;
  font-size: 18px;
  line-height: 22px;
  color: #FB0000;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &:before {
    content: "";
    display: inline-block;
    background-image: url(../img/icons/error-msg.svg);
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 4px;
    background-repeat: no-repeat;
  }
}
.prev-step {
  display: none!important;
}
@media (max-width: 540px) {
  .mob-step {
    display: none;
  }
  .pg-m {
    padding: 0 16px;
  }
  .pc-hidden {
    display: block!important;
    width: 100%;
  }
  .mobile-hidden {
    display: none!important;
    width: 100%;
  }
  .mobile-steps-status {
    margin-bottom: 20px;
    background: #022869;
    width: 100%;
    padding: 20px 15px;
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
    }
  }
  h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .container {
    padding: 0 15px;
  }
  .title {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
  }
  .empty-content {
    min-height: 156px;
    border: none;
    text-align: center;
  }
  button.next-step {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #367AF5;
    border-radius: 10px;
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
  }  
}